
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sree+Krushnadevaraya&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_1{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
    background-color: rgb(11, 105, 11);
}
.item_1 .header{
    margin-top: 1vh;
    width: 92%;
    border-radius: 10px;
}
.item_1 .menu{
    height: 10vh;
    display: flex;
    align-items: center;
}
.menu a{
    margin-left: 4vw;
    padding: 0.8vw;
    color: white;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    font-size: 1.8vw;
}
.menu a:hover{    
    color: rgb(201, 201, 201);
    transform: scale(1.10);
    transition: transform 0.4s ease-in-out;
}
.item_1 .menuPP{
    display: none;
}
.menu-container{
    overflow-x: auto; /* Agrega scroll horizontal cuando se desborde */
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.item_1 .menuP{
    display: none;
} 
.menu li {
    display: inline;
    list-style: none;
}
.item_1 .iconCart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_1 .iconCart a{
    font-size: 2.5vw;
    color: white;
}
.item_1 .iconCart a:hover{
    color: rgb(201, 201, 201);
    transform: scale(1.10);
    transition: transform 0.4s ease-in-out;
}





.productContainer, 
.productContainer2, 
.productContainer3,
.productContainer4,
.productContainer5{
    margin-top: 4vh;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    width: 90vw;
    height: 85vh;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(134, 134, 134);
}
.containerImgs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2vw;
    border-radius: 10px;
    border: 3px solid black;
    width: 13vw;
    height: 90%;
    align-items: center; 
    box-shadow: 5px 5px 10px rgb(134, 134, 134);   
}
.img1{
    border: 2px solid black;
    width: 9.2vw;
    height: 13vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(134, 134, 134);
}
.img1:hover{
    transform: scale(1.10);
    transition: transform 0.4s ease-in-out;
}
.img1 img{
    width: 9vw;
    height: 12.5vh;
    border-radius: 10px;
}

.imgPrincipal{
    margin-left: 2%;
    border: 3px solid black;
    height: 90%;
    width: 32vw;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(134, 134, 134);
}
.imgPrincipal:hover{
    transform: scale(1.03);
    transition: transform 0.4s ease-in-out;
}
.containerPrincipalImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}
.imgPrincipal img{
    width: 31.6vw;
    height: 100%;
    border-radius: 10px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    text-align: center;
    height: 90%;
    width: 28vw;
    border-radius: 10px;
}

.contenido h1{  
    font-size: 4vw;
}
.contenido p{
    font-size: 1.5vw;
}
.contenido h3{
    font-size: 2vw;
}
.contenido button{
    display: flex;
    width: 10vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2.5px solid black;
    background-color: rgb(11, 105, 11);
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(134, 134, 134);
    
}
.contenido button:hover{
    color: white;
    background-color: rgba(11, 105, 11, 0.74) ;
    transform: scale(1.10);
    transition: transform 0.4s ease-in-out;
    
}
span{
    color:rgb(11, 105, 11);
}





@media (width <=800px){
    .item_1{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .menu{
        height: 100%;
    }
    .header{
        display: flex;
    }
    .item_1 .list_icon{
        margin-left: 5vw;
        color: white;
        cursor: pointer;
    }
    .item_1 .list_icon:hover{
        color: rgb(201, 201, 201);
    }
    .item_1 .menuPP{
        display: none;
        
    }
    .item_1 .menuP{
        display: flex;

    }
    .item_1 .ul_links{
        width: 100%;
        gap: 2rem;
        border-radius: 5px;
        background-color: rgb(11, 105, 11) ;
        position: absolute;
        top: 8% ;
        left: 0;
        height: 0;
        overflow: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s;
    }

    .menuPP:checked + .ul_links {
        height: 55% ;
        border: 2px solid black;
        border-top: none;
        padding: 2%;
    }
    .menu a{
        font-size: 1.8em;
        color: white;
        border: none;
        box-shadow: none;
    }
    .menu a:hover{
        color: rgb(201, 201, 201);
    }
    .item_1 .iconCart{
        display: flex;
        justify-content: flex-end;
        margin-right: 3vw;
    }
    .item_1 .iconCart a{
        font-size: 2rem;
    }
    
    .productContainer, 
    .productContainer2, 
    .productContainer3,
    .productContainer4,
    .productContainer5{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    border: 2px solid black;
    width: 85vw;
    height: 80vh;
    }

    .containerPrincipalImg{
        width: 100%;
        height: 50%;
        margin-right: 2%;    
    }
    .containerImgs{
        display: flex;
        border: 1px solid black;
        width: 20%;
        height: 95%;
    }
    .img1{
        border: 1px solid black;
        width: 65%;
        height: 17%;
    }
    .img1 img{
        width: 100%;
        height: 100%;
    }

    .imgPrincipal{
        margin-left: 2%;
        border: 3px solid black;
        height: 95%;
        width: 70%;
        box-shadow: 5px 5px 10px rgb(134, 134, 134);
        border: 1px solid black;
    }
    .imgPrincipal img{
        width: 100%;
        height: 100%;
    }

    .contenido{
        margin-top: 2%;
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-left: 15%;
        height: 45%;
        width: 100%;
    }

    .contenido h1{
        text-align: left;  
        font-size: 1.4rem;
    }
    .contenido p{
        width: 70%;
        text-align: start;
        font-size: 0.7rem;
    }
    .contenido h3{
        font-size: 1.1rem;
    }
    .contenido button{
        margin-top: 2%;
        width: 21%;
        height: 4vh;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 0.8rem;
    }

}

::-webkit-scrollbar {
    width: 8px;
    height: 8px; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 5px;
}
